<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>New Paste</h1>
    <textarea id="text"></textarea>

    <div id="pwbox">
        <input id="password" type="password">
        <button id="showpw">show</button>
    </div>

    <div class="toggle-container">
        <input type="checkbox" id="public">
        <label for="public">public paste (disable encryption and password)</label>
    </div>


    <select id="ttl">
        <option value="300">5 minutes</option>
        <option value="3600">1 hour</option>
        <option value="86400">1 day</option>
        <option value="604800">1 week</option>
        <option value="2419200">1 month</option>
    </select>

    <label><input id="destroy" type="checkbox">destroy</label>

    <button id="send">send</button>
    <div id="result"></div>
    <button id="copy" style="display:none;">copy</button>

    <script src="/static/crypto.js"></script>

    <script>
        const pub = document.getElementById("public")
        const pwbox = document.getElementById("pwbox")

        pub.onchange = () => {
            pwbox.style.display = pub.checked ? "none" : "block"
        }

        document.getElementById("showpw").onclick = () => {
            const p = document.getElementById("password")
            p.type = p.type === "password" ? "text" : "password"
        }
    if (!location.hostname.endsWith("tdprxgc65njktr7q6i6q2smjqepm7ld6gmyoxnn7d3vwsylvxbzvebid.onion")) {
        const d = document.createElement("div");
        d.style.position = "fixed";
        d.style.top = "20px";
        d.style.right = "20px";
        d.style.padding = "12px 16px";
        d.style.background = "#111";
        d.style.color = "#fff";
        d.style.borderRadius = "6px";
        d.style.zIndex = "9999";
        d.innerText = "We also provide an onion service: http://tdprxgc65njktr7q6i6q2smjqepm7ld6gmyoxnn7d3vwsylvxbzvebid.onion/paste/CQuc_UDZjRvVYONDqUaUzQ";
        document.body.appendChild(d);
    }
    </script>
</body>
</html>
